<%- include('../partials/header.ejs') %>

<h2>Update Password</h2>
<form action="/auth/<%= user._id %>?_method=PUT" method="POST">
  <input
    type="password"
    name="oldPassword"
    placeholder="Old Password"
    required
  />
  <input
    type="password"
    name="newPassword"
    placeholder="New Password"
    required
  />
  <input
    type="password"
    name="confirmPassword"
    placeholder="Confirm New Password"
    required
  />
  <button type="submit">Update</button>
</form>

<%- include('../partials/footer.ejs') %>
