<%- include('../partials/header.ejs') %>

<h2>All Recipes</h2>
<ul>
  <% recipes.forEach(recipe => { %>
    <li>
      <a href="/recipes/<%= recipe._id %>"><%= recipe.title %></a>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer.ejs') %>
