<%- include('../partials/header.ejs') %>

<h2>New Recipe</h2>
<form action="/recipes" method="POST">
  <input type="text" name="title" placeholder="Title" required />
  <textarea name="description" placeholder="Description" required></textarea>
  <input type="text" name="image" placeholder="Image URL" />
  <input type="hidden" name="author" value="<%= user._id %>" />
  <button type="submit">Create</button>
</form>

<%- include('../partials/footer.ejs') %>
